.profile-page{
    padding:20px;
}

.profile-details-card{
    border:1px solid rgba(49, 46, 46, 0.514);
    border-radius: 6px;
    padding:10px;
}
.main-details-container{
    display: flex;
    align-items: center;
}

.content{
    background-color: rgba(133, 129, 129, 0.397);
    padding:5px;
}
.user-details-fields{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    list-style-type: none;
    padding-left: 0px;
}