.profile-page{
    padding:20px;
}

.profile-details-card{
    border:1px solid rgba(49, 46, 46, 0.514);
    border-radius: 6px;
    padding:10px;
}
.main-details-container{
    display: flex;
    align-items: center;
}


.user-details-fields{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    list-style-type: none;
    padding-left: 0px;
}
.back-btn{
    border: none;
    background: none;
    font-weight: 600;
    font-size: 22px;
    outline: none;
}
.no-extra-space{
    padding: 0px;
    margin:0px;
}